/* == Container geral do formulário == */
.search {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: var(--space-1);
  background: var(--bege);
  border: 0.125rem solid var(--rosa-escuro);
  border-radius: var(--radius-pill);
  padding: var(--space-1) var(--space-1) var(--space-1) var(--space-2);
  box-shadow: var(--shadow-1), var(--shadow-inset-1);
  max-width: 52rem;
  margin: 0 auto;
}

/* == Campo de texto == */
.search-input {
  width: 100%;
  min-height: 2.5rem;
  max-height: 6rem;
  max-height: 200px;
  overflow-y: auto; 
  resize:none;
  font-size: 1rem;
  font-family: var(--poppins);
  padding: 1rem 1rem;
  background: transparent;
  border: none;
  outline: none;
  color: var(--rosa-escuro);
  word-break: break-word;
}

.search-input::placeholder {
  color: var(--cinza);
}

/* == Botão de enviar == */

.search-btn {
  width: 3rem;
  height: 3rem;
  border: none;
  border-radius: none;
  background: none;
  cursor: pointer;
  display: grid;
  place-items: center;
  box-shadow: var(--shadow-1);
  transition:
    background 0.25s ease,
    transform 0.12s cubic-bezier(0.16, 1, 0.3, 1);
}

